<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.tb.mapper.UvMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.tb.entity.Uv">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="article_id" property="articleId" />
        <result column="ip" property="ip" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="updae_date" property="updaeDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, user_id, article_id, ip, status, create_date, updae_date
    </sql>

<select id="selectUvList" resultType="com.kalvin.kvf.modules.tb.entity.Uv">
        select
        uv.id,uv.user_id as userId,uv.article_id as articleId,uv.ip,uv.`status`,uv.create_date as createDate,
            u.real_name as realName,u.phone,a.title
          from tb_uv uv left join tb_user u on uv.user_id = u.id
          left join tb_article a on uv.article_id = a.id
        <trim prefix="where" prefixOverrides="and">
            <if test="uv.phone != null">
                and u.phone LIKE concat("%", #{uv.phone}, "%")
            </if>
            <if test="uv.realName != null and uv.realName != ''">
                and u.real_name LIKE concat("%", #{uv.realName}, "%")
            </if>
            <if test="uv.title != null and uv.title != ''">
                and a.title LIKE concat("%", #{uv.title}, "%")
            </if>
            <if test="uv.status != null">
                and uv.status = #{uv.status}
            </if>
            <if test="uv.startDate != null and uv.startDate != ''">
                <![CDATA[ and uv.create_date >=  str_to_date( #{uv.startDate},'%Y-%m-%d') ]]>
            </if>
            <if test="uv.endDate != null and uv.endDate != ''">
                <![CDATA[ and uv.create_date  <  str_to_date( #{uv.endDate},'%Y-%m-%d') ]]>
            </if>
        </trim>
    </select>

</mapper>
